.profileWrapper {
    & > img:first-child {
        width: 100%;
        height: 224px;
        object-fit: cover;
    }

    & > div > img {
        width: 174px;
        height: 164px;
        object-fit: cover;
        object-position: 0 -25px;
    }
}

.accountInfoWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
}