*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 74px auto;
    gap: 10px;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.app-wrapper-content {
    background-color: #22b0d0;
    overflow-y: auto;
}

